@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

AVI Ingeniería

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #fff;
$secondary_color: #f6c302;
$background: #000;
$border: #e5e5e5;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	background-color: $background;
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Main */

.main_container {
	width: 100vw;
	height: 100vh;
}

/* Logo */

.moduletable_lo1 {
	padding: 10px;
}

/* Menu */

.moduletable_me1 {
	padding: 10px 0;
	.bellows {
		margin: 0;
		background: transparent !important;
		ul.bellows-nav {
			li {
				padding: 0 30px;
				&:hover,
				&.bellows-current-menu-item,
				&.bellows-current_page_item {
					/*background: {
						image: url(moduletable_me1.png);
						position: 0 15px;
						repeat: no-repeat;
					}*/
					background-color: $secondary_color !important;
					a {
						color: #000 !important;
					}
				}
				a {
					padding: 10px 0 !important;
					border-bottom: 1px solid #fff !important;
					color: #fff !important;
					text-transform: uppercase;
					&:hover {
						color: $secondary_color;
					}
					&.bellows-target {
						background: transparent !important;
					}
				}
				ul.bellows-submenu {
					background: transparent;
				}
			}
		}
	}
}

.moduletable_to2 {}

/* Copyright */

.copyright {
	padding: 10px;
	bottom: 0;
	color: #fff;
	position: absolute;
	a {
		color: #fff;
	}
}

/* Banner */

.banner {}

/* Content */

.content {
	height: 100vh;
	padding: 15vh 0;
	background: {
		image: url(content_bg.jpg);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
	overflow: auto;
	.row {
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.7);
		border-radius: 10px;
	}
	h1 {
		width: 200px;
		margin: 0 auto;
		padding: 5px 10px;
		background-color: $secondary_color;
		font: {
			size: 14px;
			weight: bold;
		}
		color: #fff;
		text-transform: uppercase;
	}
	h2 {
		font-size: 14px;
	}
	a {
		&.button {
			&.hollow {
				border: {
					color: $secondary_color;
					radius: 10px;
				}
				color: $secondary_color;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 10px;
		}
	}
	iframe {
		border: 0;
	}
	.item {
		overflow: hidden;
		position: relative;
		&:hover {
			.item-overlay {
				top: 0;
			}
		}
		.item-overlay {
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(247, 196, 2, 0.9);
			overflow: hidden;
			position: absolute;
			-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			top: 500px;
			h4 {
				margin: 0;
				padding: 10px 20px;
				font: {
					size: 16px;
					weight: bold;
				}
				color: #000;
			}
			p {
				padding: 0 20px;
				font-size: 12px;
				color: #000;
			}
			a {
				color: #000;
				&.button {
					border-color: #000;
				}
			}
		}
	}
	.woocommerce {
		h1 {
			margin-bottom: 30px;
			text-align: center;
		}
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid $secondary_color;
				a {
					display: block;
					h2.woocommerce-loop-category__title,
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
	}
	&.nosotros {
		background-image: url(content_nosotros_bg.jpg);
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Main */

	.left_container {
		width: 100%;
		top: 0;
		left: 0;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.2s 0s, visibility 0s 0.2s;
		&.is_visible {
			visibility: visible;
			opacity: 1;
			transition: opacity 0.2s 0s, visibility 0s 0s;
		}
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {

	/* Main */

	.left_container {
		width: 20vw;
		min-height: 100vh;
		max-height: none;
		top: auto;
		float: left;
		position: relative;
		visibility: visible;
		opacity: 1;
	}

	.right_container {
		width: 80vw;
		min-height: 100vh;
		max-height: none;
		top: auto;
		float: right;
		position: relative;
	}

}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}