@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

AVI Ingeniería

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2018

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #5d5d5d;
$secondary_color: #f7c402;
$background: #f2f2f2;
$border: #e6e6e6;

/* ---------- General ---------- */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

* {
	margin: 0;
	padding: 0;
}

body {
	font: {
		family: 'Roboto Condensed', sans-serif;
		size: 14px;
	}
	color: $primary_color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

a {
	color: $secondary_color;
	&:hover {
		color: $secondary_color;
	}
}

/* ---------- Template ---------- */

/* Top */

.top {
	.moduletable_to1 {
		padding: 10px 0;
	}
	.moduletable_to2 {
		.top-bar {
			padding: 0;
			background-color: transparent;
			.top-bar-title {
				margin: 0;
			}
			#responsive-menu {
				width: 100%;
				ul.menu {
					background-color: transparent;
					li {
						padding: 0 5px;
						background: {
							image: url(moduletable_to2_menu_li_bg.png);
							position: right;
							repeat: no-repeat;
						}
						&.current-menu-parent,
						&.current-menu-item,
						&.current_page_parent {
							a {
								border-bottom: 3px solid $secondary_color;
							}
						}
						&:last-child {
							background: none;
						}
						a {
							padding: 5px;
							color: $primary_color;
							text-transform: uppercase;
							&:hover {
								border-bottom: 3px solid $secondary_color;
							}
							&:after {
								border: {
									top-width: 4px;
									left-width: 4px;
									right-width: 4px;
									top-color: $secondary_color;
								}
							}
						}
					}
				}
			}
		}
	}
}

/* Banner */

.banner {
	background: {
		image: url(banner_bg.png);
		position: top;
		repeat: repeat-x;
	}
	.moduletable_ba1 {
		margin: 10px 0;
	}
}

/* Content */

.content {
	padding: 30px 0;
	h1 {
		width: 200px;
		margin: 0 auto;
		padding: 5px 10px;
		background-color: $secondary_color;
		font: {
			size: 14px;
			weight: bold;
		}
		color: #fff;
		&.home {
			width: inherit;
			margin-bottom: 10px;
			padding: inherit;
			background-color: transparent;
			font: {
				size: 14px;
				weight: normal;
			}
			color: $primary_color;
		}
	}
	h2 {
		font-size: 14px;
	}
	a {
		&.button {
			&.hollow {
				border: {
					color: $secondary_color;
					radius: 0;
				}
				color: $secondary_color;
			}
		}
	}
	.asterisk {
		color: red;
	}
	input {
		&.button {
			background-color: $secondary_color;
			border-radius: 0;
		}
	}
	.item {
		overflow: hidden;
		position: relative;
		&:hover {
			.item-overlay {
				top: 0;
			}
		}
		.item-overlay {
			width: 100%;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background-color: rgba(247, 196, 2, 0.9);
			overflow: hidden;
			position: absolute;
			-moz-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			-webkit-transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			transition: top 0.4s, right 0.4s, bottom 0.4s, left 0.4s;
			top: 500px;
			h4 {
				margin: 0;
				padding: 10px 20px;
				font: {
					size: 16px;
					weight: bold;
				}
				color: #fff;
			}
			p {
				padding: 0 20px;
				color: #fff;
			}
		}
	}
	.woocommerce {
		ul.products {
			li {
				padding-bottom: 10px;
				border-bottom: 1px solid $secondary_color;
				a {
					display: block;
					h2.woocommerce-loop-product__title {
						padding: 5px;
						color: $primary_color;
						text: {
							align: center;
							transform: uppercase;
						}
					}
				}
			}
		}
	}
	&.full-width {
		.max {
			max-width: 1000px;
			margin: auto;
		}
	}
}

/* Block 1 */

.block_1 {
	padding: 30px 0;
	background-color: $background;
	.moduletable_b11 {
		a {
			color: $primary_color;
		}
	}
}

/* Block 2 */

.block_2 {
	padding: 30px 0;
	.moduletable_b21 {
		h3 {
			font-size: 24px;
			color: $secondary_color;
		}
		[type=text],
		[type=email],
		textarea {
			background-color: $background;
			border-radius: 0;
		}
		input {
			&.button {
				background-color: $secondary_color;
				border-radius: 0;
				color: #fff;
			}
		}
		iframe {
			border: none;
		}
	}
}

/* Bottom */

.bottom {
	padding-top: 10px;
	background-color: #000;
	.moduletable_bo1 {
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright {
	padding-bottom: 10px;
	background-color: #000;
	color: #fff;
	a {
		color: #fff;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}